@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    background-color: rgb(221, 220, 220);
}
.loginBox{
    background-color: rgb(250, 247, 247);
    width: 400px;
    height: 300px;
    margin-left: 35%;
    margin-top: 10%;
    border-radius: 5%;
    padding-top: 5%;
}
.input-container {
    margin-left: 20%;
    margin-bottom: 10%;
}

.button-container {
    margin-left: 40%;
    margin-bottom: 10%;
}
.labelText{
    margin-left: 2%;
    font-family: 'Roboto', sans-serif;
    font-size: small;
}

.labelText1{
    margin-left: 2.5%;
    font-family: 'Roboto', sans-serif;
    font-size: small;
}

#userName{
    width: 150px;
}

#passBox{
    width: 150px;
}